@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Poppins&display=swap');
.footer {
	font-family: 'Comic Neue', cursive;
	color: black;
	display: flex;
	background-color: #1f71aa;
	height: 10vh;
	width: 100%;
	align-items: center;
	justify-content: center;
	position: fixed;
			left: 0;
			bottom: 0;
			right: 0;
  }
  
  .section1{
	position: relative;
	align-items: center;
	text-align: center;
	justify-content: center !important;
	padding: 2px;
	gap: 25px;
	display: flex !important;
	margin-left: 2px;
  }
  