.nav{
    width: 80%;
    height: 100%;
    color: #bfbfbf;
    padding: 20px;
    background-color: #bfbfbf;
}
.nav a {
    color: rgb(14, 133, 19);
    text-decoration: none;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
  }
  